<h1 mat-dialog-title>Dodaj pracownika</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Imie</mat-label>
    <input matInput type="text" [(ngModel)]="data.firstName" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nazwisko</mat-label>
    <input matInput type="text" [(ngModel)]="data.lastName" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Stanowisko</mat-label>
    <input matInput type="text" [(ngModel)]="data.position" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    Zatwierdź
  </button>
</div>
