.workers-card {
  background-color: red;
  width: 50%;
  margin-right: 5%;
  padding: 0;
  border: 4px solid black;
}
.workers-card-header {
  background-color: blue;
  border-bottom: 4px solid black;
}
.workers-card-list {
  background-color: whitesmoke;
}
.workers-card-list-item {
  background-color: gray;
  border: 2px solid black;
  height: min-content;
  min-height: min-content;
  margin: 5px 20px;
}
.mat-list-base .mat-list-item {
  height: auto;
}
